section.cost-comparison
    .container-fluid
        .row.end-sm
            .col-xs-12.col-sm-4
                .cost-comparison__title
                    h3 Initial Cost Comparison
                    h4 For a rent of 45,000 yen
            .col-xs-12.col-sm-4
                .cost-comparison__sub-title
                    p *Research conducted by Village House
            .col-xs-12.col-md-12
                .cost-comparison__chart
                    .visible-xs
                        .cost-comparison__chart__image
                            img.lazy(data-src="../../../assets/images/chart_mobile_EN.png")
                        .cost-comparison__chart__table
                            table(style='')
                                tbody
                                    tr
                                        td(width="130px", scope="col")
                                        td(width="130px") Company A
                                        td(width="130px") Company B 
                                        td(width="130px") Company C 
                                        td(width="130px") Village House 
                                    tr
                                        td Contract fees 
                                        td ¥240,900 
                                        td ¥150,900 
                                        td ¥91,500 
                                        td ¥15,500 
                                    tr
                                        td Deposit 
                                        td ¥45,000 
                                        td ¥0 
                                        td ¥0 
                                        td ¥0 
                                    tr
                                        td Key Money 
                                        td ¥45,000 
                                        td ¥0 
                                        td ¥0 
                                        td ¥0 
                                    tr
                                        td Brokerage Fee 
                                        td ¥48,600 
                                        td ¥48,600 
                                        td ¥0 
                                        td ¥0 
                                    tr
                                        td Lock Change Fee 
                                        td ¥10,800 
                                        td ¥10,800 
                                        td ¥0 
                                        td ¥0 
                                    tr
                                        td Proportional daily rent for the current month 
                                        td ¥1,500 
                                        td ¥1,500 
                                        td ¥1,500 
                                        td ¥1,500 
                                    tr
                                        td Next month's rent 
                                        td ¥45,000 
                                        td ¥45,000 
                                        td ¥45,000 
                                        td ¥15,000 
                                    tr
                                        td Month after next's rent 
                                        td ¥45,000 
                                        td ¥45,000 
                                        td ¥45,000 
                                        td ¥0 
                                    tr
                                        td(colspan="5") *Proportional daily rent for a 45,000 yen rent
                                    tr
                                        td(colspan="3") Up to 30,000 yen to help you move-in
                                        td(colspan="2") 1 month of free rent
                    .hidden-xs
                        .cost-comparison__chart__image
                            img.lazy(data-src="../../../assets/images/chart_desktop_EN.png")
                        .cost-comparison__chart__table
                            table#tablesaw-3304.tablesaw.tablesaw-swipe(data-tablesaw-mode='swipe', data-tablesaw-minimap='', style='')
                                tbody
                                    tr
                                        td(width='130px')    
                                        td(width='130px')  Contract fees 
                                        td(width='95px')  Deposit 
                                        td(width='95px')  Key Money 
                                        td(width='95px')  Brokerage Fee 
                                        td(width='95px')  Lock Change Fee 
                                        td(width='95px')  Proportional daily rent for the current month 
                                        td(width='95px')  Next month's rent 
                                        td(width='95px')  Month after next's rent 
                                    tr
                                        td Company A 
                                        td ¥240,900 
                                        td ¥45,000 
                                        td ¥45,000 
                                        td ¥48,600 
                                        td ¥10,800 
                                        td ¥1,500 
                                        td ¥45,000 
                                        td ¥45,000 
                                    tr
                                        td Company B 
                                        td ¥150,900 
                                        td ¥0 
                                        td ¥0 
                                        td ¥48,600 
                                        td ¥10,800 
                                        td ¥1,500 
                                        td ¥45,000 
                                        td ¥45,000 
                                    tr
                                        td Company C 
                                        td ¥91,500 
                                        td ¥0 
                                        td ¥0 
                                        td ¥0 
                                        td ¥0 
                                        td ¥1,500 
                                        td ¥45,000 
                                        td ¥45,000 
                                    tr
                                        td(style='background: #ffa31a;')  Village House 
                                        td(style='background: #ffa31a;')  ¥15,500 
                                        td(style='background: #ffa31a;')  ¥0 
                                        td(style='background: #ffa31a;')  ¥0 
                                        td(style='background: #ffa31a;')  ¥0 
                                        td(style='background: #ffa31a;')  ¥0 
                                        td(style='background: #ffa31a;')  ¥1,500 
                                        td(style='background: #ffa31a;')  ¥15,000 
                                        td(style='background: #ffa31a;')  ¥0 
                                    tr
                                        td(colspan='7') *Proportional daily rent for a 45,000 yen rent
                                        td Up to 30,000 yen to help you move-in
                                        td 1 month of free rent
                .cost-comparison__note
                    p * Please confirm with our call center on which cases the full 30,000 yen cash back and 1 month of free rent will apply.
                    p * Please take note that a termination fee will be charged in case the contract is cancelled before the full 2 years term is reached.
                    p * A Fire Insurance Fee may apply on an apartment by apartment basis.