section.privacy-policy
    .container-fluid
        .row
            .col-xs-12.col-md-12
                h2.privacy-policy__title Privacy Policy
                .privacy-policy__detail
                    p.privacy-policy__detail__title
                        span 1. Purposes of use of personal information
                    p.privacy-policy__detail__text
                        span The personal information you provide to us will be used within the necessary limits to achieve the following objectives
                    p.privacy-policy__detail__text
                        span 1) For the purpose of credit analysis and identification of the client in relation to real estate leasing, joint guarantee and others
                            br
                            |2) For the purpose of signing real estate leases, guarantees and other contracts related to real estate management (including preparatory procedures), as well as providing the services contracted through those agreements 
                            br
                            |3) For the purpose of managing real estate leases and for the performance of the several activities related to operational management 
                            br
                            |4) For the purpose of analyzing customer behavior and developing new products 
                            br
                            |5) For the consignment to insurance companies of the several types of damage insurance and guarantees
                            br
                            |6) For the purpose of contacting consumers through mail, telephone, messaging services, e-mail and other contact means, to achieve the objectives from 1) to 5) described above (including contacts for the purpose of advertisement) 
                            br
                            |7) For other incidental and related business related to those described above
                    p.privacy-policy__detail__title
                        span 2. Joint Use of Personal Information
                    p.privacy-policy__detail__text
                        span Our company will jointly use the personal information provided to us in the following manners
                    p.privacy-policy__detail__text
                        span 1) Joint users and purpose of joint use 
                            br
                            |　 a) Information will be jointly used by our company and companies of the same group in relation to our real estate management business activities 
                            br
                            |　 b) Information will be jointly used by our company and companies of the same group for the purpose of providing related and incidental services necessary to the activities described above, within the scope of our business objectives 
                            br
                            |2) Jointly used personal information
                            br
                            |Name, address, date of birth, annual income (including household income), telephone number (including mobile phone number) e-mail address, information regarding one’s place of employment, household composition, residential status, guarantor and emergency contact information, driver’s license and other numbered and coded identification information, real estate leasing information, leasing conditions, credit information, transactions information, as well as other data deemed necessary for the purposes stated above, within the minimum limit necessary
                            br
                            b 3) Person in Charge of Personal Information Management 
                            br
                            span.spec-text Village House Management Co., Ltd. – General Manager of the Business Department – Tanikawa Tatsuo
                    p.privacy-policy__detail__title
                        span 3. Disclosure of Personal Information to Third Parties
                    p.privacy-policy__detail__text
                        span Our company does not disclose to third parties personal information provided to us without prior consent of the costumer, except in the following cases defined by law
                    p.privacy-policy__detail__text
                        span 1) Cases in which the handling of personal information is based on laws and regulations
                            br
                            |2) Cases in which disclosure is deemed necessary to protect one’s life, health or property, and in which it is difficult to obtain the consent of the individual
                            br
                            |3) Cases in which the handling of personal information is specially necessary for improving public hygiene or promoting the proper environment for raising children, and in which it is difficult to obtain the consent of the individual
                            br
                            |4) Cases in which providing personal information is necessary for cooperating with national authorities, local governments, or an individual or a business operator entrusted by either of the former two in executing the affairs prescribed by laws and regulations and in which obtaining the consent of the applicant is likely to impede the execution of the affairs concerned.
                    p.privacy-policy__detail__title
                        span 4. Consignment of the Handling Personal Information
                    p.privacy-policy__detail__text
                        span Our company may outsource to external contractors the handling of personal information provided to us. We shall select contractors that meet our standards for the handling of personal information, manage and supervise those contractors, and protect personal information in collaboration with those external contractors.
                    p.privacy-policy__detail__title
                        span 5. Disclosure and Rectification of Personal Information
                    p.privacy-policy__detail__text
                        span In the cases in which costumers request disclosure, rectification, deletion, interruption of use, suspension of sharing with third parties or notification of purpose of use of personal information, we will confirm the identity of the applicant or his/her agent and proceed to properly fulfill the request. For details, please refer to section “6.” bellow
                    p.privacy-policy__detail__title
                        span 6. Inquiries regarding personal information
                    p.privacy-policy__detail__text
                        span.spec-text Village House Management Co., Ltd. -  Business Department – 108-0073 Tokyo, Minato-ku, Mita, 1-1-15 TEL : 03-3769-8130　FAX : 03-3769-8129
