.area-search {
    position: relative;
    margin-top: -2rem;
    margin-bottom: .7rem;
    z-index: 10;

    @include not-mobile {
        margin-top: -6.5rem;
        margin-bottom: 0;
        padding-bottom: 2rem;
    }

    &__search-block {
        padding: 3.5rem;
        background-color: $bg-color-primary;
        margin: 0 auto 2.2rem auto;
        position: relative;
        z-index: 1;
        @include tablet {
            width: 71rem;
            border-radius: .5rem;
        }
        @include desktop {
            width: 94rem;
            border-radius: .5rem;
        }
        
        .field--wrapper {
            margin-bottom: 0;
        }

        ul {
            width: 26rem;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: 3rem;

            @include not-mobile {
                width: 100%;
                padding-top: 0;
            }

            li {
                display: block;
                margin: 0 0 2rem;
                width: 100%;
                @include tablet {
                    width: 31.5%;
                }
                @include desktop {
                    width: auto;
                    min-width: 10rem;
                    margin-bottom: 0;
                }

                &[class$="__form__area"] {
                    @include tablet {
                        width: calc(100% - 14.5rem);
                    }
                }
                &[class$="__form__submit-btn"] {
                    @include not-mobile {
                        width: 12.5rem;
                    }
                }
            }
        }

        a.anchor-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $bg-color-primary-white;
            padding: 1.3rem 1rem;
            border-radius: .3rem;
            color: $text-color-black-2;
            @include typography($font-main, $fontweight-medium, 1.6rem, 2.4rem);
            span {
                margin-right: .5rem;
                &.icon-location {
                    font-size: 2rem;
                }
                &.icon-map {
                    font-size: 1.7rem;
                }
                &.icon-trainline {
                    font-size: 2.4rem;
                }
            }
        }

        input {
            height: 5rem;
            font-size: 1.8rem;
            line-height: 1.42857143;

            @include placeholder() {
                color: $areasearch-placeholder-color;
                @include typography($font-main, $fontweight-regular, 1.8rem, 1.42857143);
            }

            @include desktop {
                width: 28rem;
            }
        }

        button.modal--btn-submit {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: .3rem;
            font-size: 1.8rem;
            font-weight: 500;
            span[class^="icon-"] {
                position: static;
                margin-right: .5rem;
                color: $btn-text-color-primary;
                font-size: 1.8rem;
            }
        }
    }

    &__tick-mark {
        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            @include desktop {
                justify-content: space-around;
            }
        }
        li {
            width: auto;
            margin-bottom: 1rem;
            display: flex;
            align-items: center;
            text-align: center;
            &:last-child {
                margin-bottom: 0;
            }
            
            span[class^="icon-"] {
                margin-right: .5rem;
            }

            span:not([class^="icon-"]) {
                @include typography(fonts(heading), $fontweight-medium, 2.4rem, 1.1);
                color: $text-color-blue;
                text-align: center;
            }
        }
    }
}