section.campaign-benefit
    .campaign-benefit__contract
        .container-fluid
            .row
                .col-xs-12.col-sm-12.campaign-benefit__contract__banner
                    img.lazy.hidden-xs.img.lazy-responsive(data-src= ("../../../assets/images/txt_benefit01_pc.png"))
                    img.lazy.visible-xs.img.lazy-responsive(data-src= ("../../../assets/images/txt_benefit01_sp.png"))
            .row
                .col-xs-12.col-sm-6.campaign-benefit__contract__benefit-plus
                    .campaign-benefit__contract__benefit
                        .campaign-benefit__contract__benefit__label
                            img.lazy.img.lazy-responsive(data-src= ("../../../assets/images/label_benefit01.png"))
                        .campaign-benefit__contract__benefit__title
                            span.small-text ご契約物件の
                            br.visible-xs
                            | 家賃から
                            br.hidden-xs
                            | キャッシュバック
                        p ニトリでご注文いただいた商品の差額分、 または賃料1 ヶ月分(上限3万円まで)の金額を 初回の請求より差し引かせていただきます。
                        .campaign-benefit__contract__benefit__image
                            img.lazy.img.lazy-responsive(data-src= ("../../../assets/images/img.lazy_benefit01.png"))
                .col-xs-12.col-sm-6
                    .campaign-benefit__contract__benefit
                        .campaign-benefit__contract__benefit__label
                            img.lazy.img.lazy-responsive(data-src= ("../../../assets/images/label_benefit02.png"))
                        .campaign-benefit__contract__benefit__title
                            | ニトリの商品
                            br
                            span （カーテン&ライト）
                        p ニトリのカーテンとシーリングライトを ご契約者さま限定価格(5%0FF)で 上限3万円までお選びいただけます。
                        .campaign-benefit__contract__benefit__image
                            img.lazy.img.lazy-responsive(data-src= ("../../../assets/images/img.lazy_benefit02.png"))
            .row
                .col-xs-12.col-sm-12.campaign-benefit__contract__benefit-combination
                    img.lazy.hidden-xs.img.lazy-responsive(data-src= ("../../../assets/images/txt_benefit04_pc.png"), alt="組み合わせて")
                    img.lazy.visible-xs.img.lazy-responsive(data-src= ("../../../assets/images/txt_benefit04_sp.png"), alt="組み合わせて")
            .row
                .col-xs-12.col-sm-12.campaign-benefit__contract__benefit-support
                    img.lazy.hidden-xs.img.lazy-responsive(data-src= ("../../../assets/images/txt_benefit05_pc.png"), alt="合計最大30,000円サポート！")
                    img.lazy.visible-xs.img.lazy-responsive(data-src= ("../../../assets/images/txt_benefit05_sp.png"), alt="合計最大30,000円サポート！")
                .col-xs-12.col-sm-12.campaign-benefit__contract__benefit-moreplus
                    img.lazy.hidden-xs.img.lazy-responsive(data-src= ("../../../assets/images/txt_benefit06_pc.png"), alt="さらにプラスして")
                    img.lazy.visible-xs.img.lazy-responsive(data-src= ("../../../assets/images/txt_benefit06_sp.png"), alt="さらにプラスして")
                .col-xs-12.col-sm-12
                    .campaign-benefit__contract__benefit-more-info
                        h2.campaign-benefit__contract__benefit-more-info__title フリーレント1か月！
                        p 
                            | 実質日割賃料のみでの入居が可能、 
                            br.visible-xs 
                            | 初回の請求は4ヵ月目の
                            br.visible-xs 
                            | 賃料(3ヵ月目に請求)からとなります。
                        p ※フリーレント適用外の物件もございます。
                .col-xs-12.col-sm-12
                    .campaign-benefit__contract__benefit-more-info
                        .campaign-benefit__contract__benefit-more-info__box
                            .campaign-benefit__contract__benefit-more-info__box__col-left
                                .campaign-benefit__contract__benefit-more-info__box__col-left__image
                                    img.lazy.img.lazy-responsive(data-src= ("../../../assets/images/logo_heart.png"), alt="ハート引越センター")
                                h2.campaign-benefit__contract__benefit-more-info__title
                                    | 引越し割引
                                    br.visible-xs
                                    | クーポンプレゼント！
                            .campaign-benefit__contract__benefit-more-info__box__col-right
                                span 単身者
                                span.price 3,000円分
                                br
                                span ファミリー 
                                span.price 5,000円分
    .campaign-benefit__deposit
        .container-fluid
            .row
                .col-xs-12.col-sm-12
                    img.lazy.campaign-benefit__deposit__image-of-course.img.lazy-responsive(data-src= ("../../../assets/images/txt_ofcourse.png"), alt="もちろん")
            .row
                .col-xs-12.col-sm-12.text-center
                    .campaign-benefit__deposit__block-rules
                        .campaign-benefit__deposit__block-rules__box
                            .campaign-benefit__deposit__block-rules__box__col.campaign-benefit__deposit__block-rules__box__col--left
                                span 
                                    | 敷金、礼金、
                                    br
                                    | 更新料、手数料すべて
                            .campaign-benefit__deposit__block-rules__box__col.campaign-benefit__deposit__block-rules__box__col--right
                                span 0
                                span.unit 円
                    .campaign-benefit__deposit__block-slogan
                        span 引っ越しするならビレッジハウス！
                        span.campaign-benefit__deposit__block-slogan-big チャンスはいま！！
            .row
                .campaign-benefit__deposit__block-btn-enquiry.campaign-btn--enquiry
                    a.campaign-benefit__deposit__block-btn-enquiry__btn-contactus(href="javascript:void(0)", data-micromodal-trigger="modalRequestForm") お問い合わせはこちら
