section.property-detail__info
    .row
        .col-xs-12.col-sm-12
            h4 Building information
        .col-xs-12.col-sm-12.col-md-6
            p.property-detail__info__menu
                span.menu  
                    span.menu-text Elevator
                span.menu-info -
            p.property-detail__info__menu
                span.menu  
                    span.menu-text  Available Flooring
                    span.menu-text.hidden  Available Flooring
                span 
                    span.menu-info Japanese Flooring  <br> Japanese Flooring
        .col-xs-12.col-sm-12.col-md-6
            p.property-detail__info__menu
                span.menu  
                    span.menu-text  Buildings & Units
                span.menu-info 4 / 88
            p.property-detail__info__menu
                span.menu  
                    span.menu-text  Handicapped Accessible
                span.menu-info -
    .row
        .col-xs-12.col-sm-12.col-md-6
            h4 Public Services
            p Kakamigahara Municipal Office
            p Gifu Prefectural Hospital 
            p Juroku Bank Kakamigahara Branch 
        .col-xs-12.col-sm-12.col-md-6
            h4 Schools
            p Naka Municipal Elementary School - 30 minute walk
            p Naka Municipal Junior High School - 30 minute walk
    .row
        .col-xs-12.col-sm-12.col-md-6
            h4 Transportation
            p 新加納駅 名鉄各務原線 - 0.7 km , 8 min minute walk