section.near-properties.is-campagin
    .container-fluid
        .row.pos-relative
            #near-properties__slider.near-properties__content
                - for (var i = 0; i < 1; i++)  {
                    include ../property-card/property-card.pug
                - }
            .slick-controls
                button.icon-arrow-left(type="button", data-controls="prev", tabindex="-1")
                button.icon-arrow-right(type="button", data-controls="next", tabindex="-1")
        