section.experience
    .container-fluid
        h2.experience__title The Village House Experience
        .experience__content
            .row
                .col-xs-12.col-sm-3
                    .experience__content__media
                        img.lazy(data-src= ("../../../assets/images/family.png"), alt="Village House")
                .col-xs-12.col-sm-9
                    .experience__content__text
                        //- h4 "Since there is no deposit, key money, renewal fee, or handling fee, I strongly recommended my friends to consider living here with me as well."
                        h4 「敷金、礼金、更新料、手数料無料というのがとても魅力でした、友人にも勧めまして、是非一緒に入居しないかということで勧めました」
                        //- p — A Chiba Prefecture Village House Resident
                        p &nbsp;‐千葉にあるビレジハウスの物件に住んでいるお客様
        h2.experience__title Our Approach
        .experience__approach
            .row.experience__approach__content
                .col-xs-12.col-sm-6
                        .approach-item
                            h4 Mission
                            p Bringing Freedom to Dwelling through Simple Moving Processes
                .col-xs-12.col-sm-6
                        .approach-item
                            h4 Essence
                            p Empowering our Residents with a New Life through Low Cost Apartments
                .col-xs-12.col-sm-6
                        .approach-item
                            h4 Focus
                            p Eliminating Barriers to Moving like Key Money and Deposits
                .col-xs-12.col-sm-6
                        .approach-item
                            h4 Promise
                            p Changing Society through Housing by Creating a Community for All People
