extends ../layouts/master-bank.pug

block title
  title My Page - Thank You Page

block basicSeo
  meta(name='description' content='bank failed page')
  meta(name='keywords', content='bank failed, page')
  meta(name='author' content='')

block content
    include ../components/bank/bank-failed.pug