extends ../layouts/master.pug

block title
  title My Page - Privacy Policy Page

block basicSeo
  meta(name='description' content='privacy policy page')
  meta(name='keywords', content='privacy policy, page')
  meta(name='author' content='')

block content
    include ../components/privacy-policy/privacy-policy.pug