section.faq-banner
    .container-fluid
        .faq-banner__video
            //- iframe#faq-video(frameborder='0', allowfullscreen='1', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', title='YouTube video player', src='https://www.youtube.com/embed/aiRu49KJ1io?autoplay=0&modestbranding=1&showinfo=0&rel=0&cc_load_policy=1&enablejsapi=1&origin=http%3A%2F%2Ftest-01.villagehouse.cerebrum.com.au&widgetid=1', name='fitvid0')
            #faq-video(data-video-id="aiRu49KJ1io")

        .faq-banner__section-list
            .faq-banner__section-list__button
                | Jump to FAQ Video Section
                span.caret
            .faq-banner__section-list__list
                ul
                    li 
                        a(href="#", data-jump-timestamp= "289") About Village House
                    li 
                        a(href="#", data-jump-timestamp= "233") Move-in Deals
                    li 
                        a(href="#", data-jump-timestamp= "306") No Guarantor
                    li 
                        a(href="#", data-jump-timestamp= "49") Reformed Rooms
                    li 
                        a(href="#", data-jump-timestamp= "140") Closet Space
                    li 
                        a(href="#", data-jump-timestamp= "340") Good Sunlight
                    li 
                        a(href="#", data-jump-timestamp= "349") Bike & Car Parking
                    li 
                        a(href="#", data-jump-timestamp= "361") Pets Ok
                    li 
                        a(href="#", data-jump-timestamp= "191") Friendly Community
                    li 
                        a(href="#", data-jump-timestamp= "206") Security Cameras