
.col-xs-12.col-sm-12
    input.search-result-hidden-input(type="hidden", value="https://dev.villagehouse.jp/ajax/villagehouse/properties/")
    .search-result-section
        include ../search-result-section-search-area/search-result-section-search-area.pug
        include ../search-result-section-data-area/search-result-section-data-area.pug