section.overall-procedure
    .container-fluid
        h2.overall-procedure__title Overall procedure until moving in
        .overall-procedure__body
            .row.procedure-step
                .col-xs-12.col-sm-3.col-md-3.procedure-step__img.lazy
                    img.lazy(data-src="../../../assets/images/flow_pic1.png", alt="Pic 1")
                .col-xs-12.col-sm-9.col-md-9.procedure-step__detail
                    h3.procedure-step__detail__title Contact by phone or through the website's form
                    .procedure-step__detail__text Find a property that fits your needs at Village House's website.
                    .procedure-step__detail__text Contact us about the property you are interested in by phone or through the website's form. If you are in a hurry or want to inspect the property, contact us by phone for a smoother procedure.
            .procedure-break-line
                img.lazy(data-src="../../../assets/images/flow_line.png", alt="Flow line")
            .row.procedure-step
                .col-xs-12.col-sm-3.col-md-3.procedure-step__img.lazy
                    img.lazy(data-src="../../../assets/images/flow_pic2.png", alt="Pic 1")
                .col-xs-12.col-sm-9.col-md-9.procedure-step__detail
                    h3.procedure-step__detail__title Contact by phone or through the website's form
                    .procedure-step__detail__text Find a property that fits your needs at Village House's website.
                    .procedure-step__detail__text Contact us about the property you are interested in by phone or through the website's form. If you are in a hurry or want to inspect the property, contact us by phone for a smoother procedure.
            .procedure-break-line
                img.lazy(data-src="../../../assets/images/flow_line.png", alt="Flow line")
            .row.procedure-step
                .col-xs-12.col-sm-3.col-md-3.procedure-step__img.lazy
                    img.lazy(data-src="../../../assets/images/flow_pic3.png", alt="Pic 1")
                .col-xs-12.col-sm-9.col-md-9.procedure-step__detail
                    h3.procedure-step__detail__title Contact by phone or through the website's form
                    .procedure-step__detail__text Find a property that fits your needs at Village House's website.
                    .procedure-step__detail__text Contact us about the property you are interested in by phone or through the website's form. If you are in a hurry or want to inspect the property, contact us by phone for a smoother procedure.
            .procedure-break-line
                img.lazy(data-src="../../../assets/images/flow_line.png", alt="Flow line")
            .row.procedure-step
                .col-xs-12.col-sm-3.col-md-3.procedure-step__img.lazy
                    img.lazy(data-src="../../../assets/images/flow_pic4.png", alt="Pic 1")
                .col-xs-12.col-sm-9.col-md-9.procedure-step__detail
                    h3.procedure-step__detail__title Contact by phone or through the website's form
                    .procedure-step__detail__text Find a property that fits your needs at Village House's website.
                    .procedure-step__detail__text Contact us about the property you are interested in by phone or through the website's form. If you are in a hurry or want to inspect the property, contact us by phone for a smoother procedure.
            .procedure-break-line
                img.lazy(data-src="../../../assets/images/flow_line.png", alt="Flow line")
            .row.procedure-step
                .col-xs-12.col-sm-3.col-md-3.procedure-step__img.lazy
                    img.lazy(data-src="../../../assets/images/flow_pic5.png", alt="Pic 1")
                .col-xs-12.col-sm-9.col-md-9.procedure-step__detail
                    h3.procedure-step__detail__title Contact by phone or through the website's form
                    .procedure-step__detail__text Find a property that fits your needs at Village House's website.
                    .procedure-step__detail__text Contact us about the property you are interested in by phone or through the website's form. If you are in a hurry or want to inspect the property, contact us by phone for a smoother procedure.
        .overall-procedure__support
            .overall-procedure__support__title Move-in Support
            .overall-procedure__support__title Up to ¥30,000 cashback 
            