section.ques-answ
    .container-fluid
        .row
            .col-xs-12.col-md-12
                h2 Q&A
                .ques-answ__item
                    .ques-answ__item__questions
                        .row.middle-xs
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_q.png"))
                            .col-xs-12.col-sm-11
                                p I would like to know more about the initial rent costs
                    .ques-answ__item__answers
                        .row
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_a.png"))
                            .col-xs-12.col-sm-11
                                p The amount due as initial rent cost is the sum of the following items:
                                p ① proportional daily rate of one month's rent (calculated on a 30 days monthly base, including the fee for the common areas)
                                p ② next month's rent (including the fee for the common areas)
                                p *Village House Management does not charge a monthly fee for apartment common areas.
                                p *A Fire Insurance Fee may apply on an apartment by apartment basis.
                .ques-answ__item
                    .ques-answ__item__questions
                        .row.middle-xs
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_q.png"))
                            .col-xs-12.col-sm-11
                                p Can I keep pets?
                    .ques-answ__item__answers
                        .row
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_a.png"))
                            .col-xs-12.col-sm-11
                                p A Village House has been increasing its availability of “pet friendly” properties. Even properties that in general don't allow pets may accept small birds, fish or turtles, on a case by case basis. For more information contact us through our free telephone line.
                .ques-answ__item
                    .ques-answ__item__questions
                        .row.middle-xs
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_q.png"))
                            .col-xs-12.col-sm-11
                                p What documents do I need to present when applying for a lease?
                    .ques-answ__item__answers
                        .row
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_a.png"))
                            .col-xs-12.col-sm-11
                                p The following documents are required for the application
                                p ① Your seal：since the rent payment is made through direct debit, please bring the same seal used at the bank.
                                p ② Identity document：driver's license, insurance card, basic resident card (juki card), resident card (if foreigner), alien registration certificate (if foreigner), etc.
                                p ③ Income certificate: certificate of earnings, pay slips of the last three months
                                p ※ If the 3 items above are brought during the viewing, it is possible to make the application on-spot. However, depending on the results of the documents assessment, documents other than the above may be required.
                .ques-answ__item
                    .ques-answ__item__questions
                        .row.middle-xs
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_q.png"))
                            .col-xs-12.col-sm-11
                                p What is the method of payment of the rent？
                    .ques-answ__item__answers
                        .row
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_a.png"))
                            .col-xs-12.col-sm-11
                                p The payment is made through bank transfer from a bank account designated by the client (the receiving agent is APLUS Co.,Ltd) . A bank transfer request form from APLUS Co.,Ltd must be filled and signed, but in the clients bank book/statement the debit will be registered under 「AP (ゼンミンチン」。
                .ques-answ__item
                    .ques-answ__item__questions
                        .row.middle-xs
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_q.png"))
                            .col-xs-12.col-sm-11
                                p Is there any termination fee in case I cancel the contract before it ends?
                    .ques-answ__item__answers
                        .row
                            .col-xs-12.col-sm-1
                                img.lazy(data-src= ("../../../assets/images/icon_a.png"))
                            .col-xs-12.col-sm-11
                                p A termination fee will be charged in case the contract is cancelled before 2 years have passed.



