.banner
    a.banner--desktop(href="./campaign-page")
        img(src= ("../../../assets/images/Banner_E.png"), alt="villaguehouse")
    a.banner--mobile(href="./campaign-page")
        img(src= ("../../../assets/images/BANNER_ENG_MOB.jpg"), alt="villaguehouse")
    .banner__caption
        .banner__caption__text
            h1