section.banner-campaign
    .container-fluid
        h1.banner-campaign__title
            span.banner-campaign__title__text01 ご契約いただいた方にもれなく
            span.banner-campaign__title__box
                span.banner-campaign__title__text02 最大
                span.banner-campaign__title__text03 30,000
                span.banner-campaign__title__text04 円分
            span.banner-campaign__title__text05 引越しサポート！
        .banner-campaign__content
            p
                | 家賃キャッシュバック&ニトリの商品
                br
                | 合わせて最大30,000円分
                br.banner-campaign__content--xs
                | サポートします！
            .banner-campaign__content__btn.campaign-btn--enquiry
                a.banner-campaign__content__btn-contactus(href="javascript:void(0)", data-micromodal-trigger="modalRequestForm") お問い合わせはこちら
        .banner-campaign__image
            img(src= ("../../../assets/images/img.lazy_mv_pc.png"))