section.propery-details__buildings.row
    .col-xs-12.col-sm-12
        h2.propery-details__buildings__title Kakamigahara
        .row.propery-details__buildings__content
            .col-xs-12.col-sm-4.col-md-3.propery-details__buildings__content__props
                .unit-detail__info
                    span.unit-detail__info__room-info 2K / 29m
                    sup 2
                    p.unit-detail__info__availability.available
                        span.unit-detail__info__availability__title Available
                        span.icon-available
                    span.unit-detail__info__room-price from ¥41,000
                .propery-details__buildings__content__props__room-image
                    a(href="../../../assets/images/floorPlan1.jpg", data-effect="mfp-zoom-in")
                        img.lazy.img.lazy-responsive(src="../../../assets/images/floorPlan1.jpg")
                a.propery-details__buildings__content__props__btn-details.btn(href="/?id=21&L=0&tx_propertydetails_propertydetails[city]=kakamigahara-shi&tx_propertydetails_propertydetails[address]=kinzokudanchi-130-gifu-ken&tx_propertydetails_propertydetails[propertyCode]=PLA-FTVH-1-4004-2K-0") Unit Details
            .col-xs-12.col-sm-4.col-md-3.propery-details__buildings__content__props
                .unit-detail__info
                    span.unit-detail__info__room-info 2K / 29m
                    sup 2
                    p.unit-detail__info__availability.comingsoon
                        span.unit-detail__info__availability__title Coming soon
                        span.icon-comingsoon
                    span.unit-detail__info__room-price from ¥41,000
                .propery-details__buildings__content__props__room-image
                    a(href="../../../assets/images/floorPlan2.jpg", data-effect="mfp-zoom-in")
                        img.lazy.img.lazy-responsive(src="../../../assets/images/floorPlan2.jpg")
                a.propery-details__buildings__content__props__btn-details.btn(href="/?id=21&L=0&tx_propertydetails_propertydetails[city]=kakamigahara-shi&tx_propertydetails_propertydetails[address]=kinzokudanchi-130-gifu-ken&tx_propertydetails_propertydetails[propertyCode]=PLA-FTVH-1-4004-2K-0") Unit Details
            .col-xs-12.col-sm-4.col-md-3.propery-details__buildings__content__props
                .unit-detail__info
                    span.unit-detail__info__room-info 2K / 29m
                    sup 2
                    p.unit-detail__info__availability.comingsoon
                        span.unit-detail__info__availability__title Coming soon
                        span.icon-comingsoon
                    span.unit-detail__info__room-price from ¥41,000
                .propery-details__buildings__content__props__room-image
                    a(href="../../../assets/images/floorPlan3.jpg", data-effect="mfp-zoom-in")
                        img.lazy.img.lazy-responsive(src="../../../assets/images/floorPlan2.jpg")
                a.propery-details__buildings__content__props__btn-details.btn(href="/?id=21&L=0&tx_propertydetails_propertydetails[city]=kakamigahara-shi&tx_propertydetails_propertydetails[address]=kinzokudanchi-130-gifu-ken&tx_propertydetails_propertydetails[propertyCode]=PLA-FTVH-1-4004-2K-0") Unit Details
            .col-xs-12.col-sm-4.col-md-3.propery-details__buildings__content__props
                .unit-detail__info
                    span.unit-detail__info__room-info 2K / 29m
                    sup 2
                    p.unit-detail__info__availability.unavailable
                        span.unit-detail__info__availability__title Unavailable
                        span.icon-unavailable
                    span.unit-detail__info__room-price &nbsp;
                .propery-details__buildings__content__props__room-image
                    a(href="../../../assets/images/floorPlan4.jpg", data-effect="mfp-zoom-in")
                        img.lazy.img.lazy-responsive(src="../../../assets/images/floorPlan2.jpg")
                a.propery-details__buildings__content__props__btn-details.btn(href="/?id=21&L=0&tx_propertydetails_propertydetails[city]=kakamigahara-shi&tx_propertydetails_propertydetails[address]=kinzokudanchi-130-gifu-ken&tx_propertydetails_propertydetails[propertyCode]=PLA-FTVH-1-4004-2K-0") Unit Details