section.property-detail__preview
    .property-detail__topbar
        .row
            .col-xs-12.col-sm-7
                .property-detail__title
                    h2 Village House Sogaya
                    span Sogaya 665-4, 
                    span Gifu-shi, Gifu-ken
            .col-sm-5
                .property-detail__price-range
                    span ¥23,500 - 28,500
    .property-detail__slider
        .row
            .property-detail__image-slider-wrapper
                .property-detail__image-slider__overlay.is-prev
                .property-detail__image-slider
                    a.property-slider__image(href="../../../assets/images/hugeslider1.jpg", data-effect="mfp-zoom-in")
                        img(src="../../../assets/images/sliderbig1.jpg")
                    a.property-slider__image(href="../../../assets/images/hugeslider2.jpg", data-effect="mfp-zoom-in")
                        img(src="../../../assets/images/sliderbig2.jpg")
                    a.property-slider__image(href="../../../assets/images/hugeslider3.jpg", data-effect="mfp-zoom-in")
                        img(src="../../../assets/images/sliderbig3.jpg")
                    a.property-slider__image(href="../../../assets/images/hugeslider4.jpg", data-effect="mfp-zoom-in")
                        img(src="../../../assets/images/sliderbig4.jpg")
                    a.property-slider__image(href="../../../assets/images/hugeslider5.jpg", data-effect="mfp-zoom-in")
                        img(src="../../../assets/images/sliderbig5.jpg")
                    a.property-slider__image(href="../../../assets/images/hugeslider6.jpg", data-effect="mfp-zoom-in")
                        img(src="../../../assets/images/sliderbig6.jpg")
                .property-detail__image-slider__overlay.is-next
            .col-xs-12.col-sm-9
                .property-detail__thumnail-slider
                    .property-slider__thumnail
                        img(src="../../../assets/images/slider1.jpg")
                    .property-slider__thumnail
                        img(src="../../../assets/images/slider2.jpg")
                    .property-slider__thumnail
                        img(src="../../../assets/images/slider3.jpg")
                    .property-slider__thumnail
                        img(src="../../../assets/images/slider4.jpg")
                    .property-slider__thumnail
                        img(src="../../../assets/images/slider5.jpg")
                    .property-slider__thumnail
                        img(src="../../../assets/images/slider6.jpg")
            .col-xs-12.col-sm-3
                .property-detail__shortlist
                    | Shortlisted
                    span.for-shortlist-icon
    .property-detail__text
        .row
            .col-xs-12.col-sm-12
                h4 Property Details
            .col-xs-12.col-sm-12.col-md-6
                p Feel always safe with a General Hospital near you. 
            .col-xs-12.col-sm-12.col-md-6
                p Conveniently located near a konbini and drugstore