section.sibling-header
    .sibling-header__sticky-header
        .container-fluid
            .row
                .col-xs-12.col-sm-12
                    .sibling-header__sticky-header__content
                        h2.hidden-xs
                            a(href="#") Shinagawayashio
                        .sibling-header__sticky-header__units-list
                            a.unit-sibling.current-unit
                                .unit-detail__info
                                    span.unit-detail__info__room-info 2K / 29m
                                        sup 2
                                    p.unit-detail__info__availability.available
                                        span.unit-detail__info__availability__title.hidden-xs Available
                                        span.icon-available
                                    span.unit-detail__info__room-price from ¥41,000
    .sibling-header__sticky-location
        .container-fluid
            .row     
                .col-xs-12.col-sm-12
                    .sibling-header__sticky-location__content
                        h2.visible-xs
                            a(href="") Shinagawayashio
                        .sibling-header__sticky-location__address
                            span Yashio 5-12-69, 
                            span Shinagawa-ku, Tokyo-to
                        .sibling-header__sticky-location__shortlisted
                            span Shortlisted
                            span.for-shortlist-icon 
