.building-block
    .container-fluid
        .row
            .col-xs-12.col-sm-12
                h3.building-block__title 3DK / 60.58m
                    sup 2
                .building-block__content
                    .building-block__room-block
                        .building-block__room-block__header
                            .row
                                .col-xs-12.col-md-8
                                    h4 Traditional Style
                                .col-md-4
                                    p.unit-detail__info__availability.available
                                        span.unit-detail__info__availability__title Available
                                        span.icon-available
                        .building-block__room-block__content
                            .row
                                .col-xs-12.col-sm-12.col-md-4
                                    .building-block__room-block__content__slider
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail1.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail1.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail2.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail2.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail3.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail3.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail4.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail4.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail5.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail5.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail6.jpg")
                                            img.lazy(data-src=("../../../assets/images/unit-detail6.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail7.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail7.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail8.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail8.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail9.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail9.jpg"))
                                .col-xs-12.col-sm-12.col-md-4
                                    p.building-block__room-block__content__description  Japanese style room with traditional tatami floor
                                .col-xs-12.col-sm-12.col-md-4
                                    .building-block__room-block__content__request-btn
                                        a.request-btn(href="javascript:void(0)", data-micromodal-trigger="modalRequestForm")
                                            span.icon-clock
                                            | Request Viewing
                                    ul.building-block__room-block__content
                                        li
                                            i.icon-check-mark
                                            span No security deposit!
                                        li
                                            i.icon-check-mark
                                            span No key money!
                                        li
                                            i.icon-check-mark
                                            span No renewal fee!
                    
                    .building-block__room-block
                        .building-block__room-block__header
                            .row
                                .col-xs-12.col-md-8
                                    h4 Western Style
                                .col-md-4
                                    p.unit-detail__info__availability.available
                                        span.unit-detail__info__availability__title Available
                                        span.icon-available
                        .building-block__room-block__content
                            .row
                                .col-xs-12.col-sm-12.col-md-4
                                    .building-block__room-block__content__slider
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail1.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail1.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail2.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail2.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail3.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail3.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail4.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail4.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail5.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail5.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail6.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail6.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail7.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail7.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail8.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail8.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail9.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail9.jpg"))
                                        a.building-block__room-block__content__slider__image-slider(href="../../../assets/images/unit-detail9.jpg")
                                            img.lazy(data-src= ("../../../assets/images/unit-detail9.jpg"))
                                .col-xs-12.col-sm-12.col-md-4
                                    p.building-block__room-block__content__description Western Style apartment with padded floor 
                                .col-xs-12.col-sm-12.col-md-4
                                    .building-block__room-block__content__request-btn
                                        a.request-btn(href="javascript:void(0)", data-micromodal-trigger="modalRequestForm")
                                            span.icon-clock
                                            | Request Viewing
                                    ul.building-block__room-block__content
                                        li
                                            i.icon-check-mark
                                            span No security deposit!
                                        li
                                            i.icon-check-mark
                                            span No key money!
                                        li
                                            i.icon-check-mark
                                            span No renewal fee!
                    
                    .building-block__room-block
                        .building-block__room-block__header
                            .row
                                .col-xs-12.col-md-8
                                    h4 Asian Style
                                .col-md-4
                                    p.unit-detail__info__availability.available
                                        span.unit-detail__info__availability__title Available
                                        span.icon-available
                        .building-block__room-block__content
                            .row
                                .col-xs-12.col-sm-12.col-md-4
                                    .building-block__room-block__content__slider
                                        img(src= ("../../../assets/images/lazyloadImage.png"))
                                .col-xs-12.col-sm-12.col-md-4
                                    p.building-block__room-block__content__description Western Style apartment with padded floor 
                                .col-xs-12.col-sm-12.col-md-4
                                    .building-block__room-block__content__request-btn
                                        a.request-btn(href="javascript:void(0)", data-micromodal-trigger="modalRequestForm")
                                            span.icon-clock
                                            | Request Viewing
                                    ul.building-block__room-block__content
                                        li
                                            i.icon-check-mark
                                            span No security deposit!
                                        li
                                            i.icon-check-mark
                                            span No key money!
                                        li
                                            i.icon-check-mark
                                            span No renewal fee!