section.moving-support
    .container-fluid
        .moving-support__info
            .moving-support__title
                .row
                    .col-xs-12.col-md-12
                        h2 This is why Village House's moving support is different !
                        h4 
                            span.icon-check-mark
                            | No unnecessary initial costs
                        h4 
                            span.icon-check-mark
                            | We support your rent even after you move-in
            .moving-support__cost-detail
                .row
                    .col-xs-12.col-sm-10.col-sm-offset-1
                        .row
                            .col-xs-12.col-sm-5
                                .moving-support__cost-detail__item.hightlight-content
                                    h2 Up to 30,000 yen cashback
                                    p 1 month's rent (up to 30,000 yen) discounted directly from the first bill
                            .col-xs-12.col-sm-2
                                h3 +
                            .col-xs-12.col-sm-5
                                .moving-support__cost-detail__item.hightlight-content
                                    h2 1 month of free rent
                                    p Move-in paying only the daily proportional rent. Start paying only from the 4th month of rent (charged in the 3rd month)
            .moving-support__example
                h4 Example - If you move into a 45,000 yen apartment on 9/15
                .moving-support__example__content
                    .moving-support__example__content__item
                        span Daily rent for the current month (September)
                        span 24,000 yen
                    .moving-support__example__content__item
                        span Advance payment of next month's rent (October)
                        span 45,000 yen
                    .moving-support__example__content__item
                        span Cash back
                        span -30,000 yen
                    .moving-support__example__content__item
                        span Fire insurance fee
                        span 7,380 yen
                    .moving-support__example__content__item.is-total
                        span Sum of the initial costs
                        span 46,380 yen
                h4 Move-in paying only | 46,380 yen of initial costs!
    .container-fluid
        .faq__addition-content
            .row
                .col-xs-12.col-md-12
                    .faq__addition-content__item
                        p ※Cashback does not apply to some properties
                            br
                            | ※Free Rent does not apply to some properties