.modal.micromodal-slide.modal--form-primary.modal-phone__callback#modalRequestForm(aria-hidden="true")
    .modal__overlay(tabindex="-1", data-micromodal-close)
        .modal__container(role="dialog", aria-modal="true", aria-labelledby="modal-callback-form-title")
            .modal__header
                .icon-close(data-micromodal-close,aria-label="Close this dialog window")
            .modal__content#modal-callback-form-title
                .form--wrapper
                    form(method="post", name="scheduleRequestForm", showvalid)
                        h3.form__title Arrange a visit today!
                        .form__sub-title Customer Service is only offered in Japanese, Portuguese, and English
                        fieldset
                            .field--wrapper.form-group.has-icon
                                span.icon-human
                                input.form-control#requestFormName(type="text", name="requestFormName", placeholder="Name*", required)
                            .field--wrapper.form-group.has-icon
                                span.icon-email
                                input.form-control#requestFormEmail(type="text", name="requestFormEmail", placeholder="Email*", emailRegex)
                            .field--wrapper.form-group.has-icon
                                span.icon-form-phone
                                input.form-control#requestFormPhone(type="text", name="tel", placeholder="Telephone", phoneRegex)
                            .field--wrapper.form-group
                                textarea.form-control#requestFormMessage(type="text", name="message", placeholder="Message (Please enter any specific questions you have)")
                            .field--wrapper
                                button.modal--btn-submit(type="submit", name="scheduleFormSubmit", aria-label="Submit call back form") Confirm