.limited-offer {
    background: $bg-color-primary;
    padding: 4rem 0 4rem;
    color: $text-color-secondary;
    text-align: center;
    position: relative;

    @include mobile {
        padding: 3.5rem 0 5rem;
        border-bottom: .3rem solid color(c-white);
    }

    h2 {
        margin: 0 0 .5rem;

        @include mobile {
            font-size: 3rem;
            line-height: 3.8rem;
            margin: 0 0 1.4rem;
        }
    }

    &__label {
        font-family: $font-heading;
        line-height: 4rem;
    }

    &__btn-enquiry {
        @include typography($font-main, $fontweight-medium, 1.6rem, 4rem);
        display: inline-block;
        background: $btn-bg-color-primary;
        color: $btn-text-color-primary;
        padding: 0 3.5rem;
        border: none;
        border-radius: 2.3rem;
        text-decoration: none;
        vertical-align: middle;

        &:hover {
            color: $btn-text-color-primary;
        }
    }
}