section.limited-offer
    .container-fluid
        h2
            span.limited-offer__label See our latest available offers&nbsp;
            a.limited-offer__btn-enquiry(href="./campagin-page") Learn More