@font-face {
    font-family: 'Sarabun';
    font-display: swap;
    src: url('./fonts/Sarabun/Sarabun-Light.woff') format('woff'),
        url('./fonts/Sarabun/Sarabun-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    font-display: swap;
    src: url('./fonts/Sarabun/Sarabun-Regular.woff') format('woff'),
        url('./fonts/Sarabun/Sarabun-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    font-display: swap;
    src: url('./fonts/Sarabun/Sarabun-Medium.woff') format('woff'),
        url('./fonts/Sarabun/Sarabun-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Sarabun';
    font-display: swap;
    src: url('./fonts/Sarabun/Sarabun-Bold.woff') format('woff'),
        url('./fonts/Sarabun/Sarabun-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Niramit';
    font-display: swap;
    src: url('./fonts/Niramit/Niramit-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Niramit';
    font-display: swap;
    src: url('./fonts/Niramit/Niramit-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Niramit';
    font-display: swap;
    src: url('./fonts/Niramit/Niramit-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Niramit';
    font-display: swap;
    src: url('./fonts/Niramit/Niramit-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}