section.freq-aq
    .container-fluid
        .freq-aq__title
            .row
                .col-xs-12.col-md-12
                    h2 Frequently Asked Questions
        .freq-aq__first-content
            .row
                .col-xs-12.col-sm-2
                    .freq-aq__first-content__item
                        h3 No deposit
                .col-xs-12.col-sm-2
                    .freq-aq__first-content__item
                        h3 No brokerage fee
                .col-xs-12.col-sm-2
                    .freq-aq__first-content__item
                        h3 No renewal fee
                .col-xs-12.col-sm-2
                    .freq-aq__first-content__item
                        h3 No key money
                .col-xs-12.col-sm-4
                    .freq-aq__first-content__upto.hightlight-content
                        h2 Up to 30,000 yen 
                            br 
                            | cashback
        .freq-aq__second-content
            .row
                .col-xs-12.col-sm-3
                    .freq-aq__second-content__img.lazy
                        img.lazy(data-src="../../../assets/images/vh_logo.png", alt="vh logo")
                .col-xs-12.col-sm-9
                    .freq-aq__second-content__content
                        p No deposit, key money, renewal or brokerage fees !
                        p Find a comfortable room at Village House without any inconvenient conditions.
                        p Village House provides high-quality rental properties with easy procedures and excellent prices. Start a new life in one of our properties in over 1,000 Locations in 46 prefectures throughout Japan!
        .freq-aq__third-content
            .row
                .freq-aq__third-content__item
                    img.lazy(data-src="../../../assets/images/merit1_EN.png", alt="vh logo")
                .freq-aq__third-content__item
                    img.lazy(data-src="../../../assets/images/merit2_EN.png", alt="vh logo")
                .freq-aq__third-content__item
                    img.lazy(data-src="../../../assets/images/merit3_EN.png", alt="vh logo")
                .freq-aq__third-content__item
                    img.lazy(data-src="../../../assets/images/merit4_EN.png", alt="vh logo")
        .faq__addition-content
            .row
                .col-xs-12.col-md-12
                    .faq__addition-content__item
                        p ※Cashback does not apply to some properties
                            br
                            | ※Free Rent does not apply to some properties
                            br
                            | ※Not all properties allow pets
