.property-card {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    // margin-bottom: 3.5rem;
    border: .1rem solid $propertyCard-border-color;
    border-radius: .3rem;
    display: inline-flex !important;
    align-items: stretch;
    background: $bg-color-primary-white;
    animation-name: fade-in;
    animation-duration: .4s;
    overflow: hidden;

    &.is-hightlight {
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
        border-color: #f8b62d;
    }

    @include min-sm {
        width: 42.5rem;
    }

    &__geo-info {
        width: 61%;
        position: relative;
        color: $text-color-gray-5;

        &__image {
            width: 100%;
            padding-bottom: 63%;
            margin-bottom: .7rem;
            overflow: hidden;
            position: relative;
        }

        .for-shortlist-icon {
            z-index: 10;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 5;
            &.lazy:not(.initial) {
                min-height: 0.1rem;
                transition: opacity 1s;
            }
        }

        &__location {
            text-align: left;
            margin: 0;
            @include typography(fonts(main), fontWeight(regular), 1.5rem, 2.1rem);
        }

        &__address {
            text-align: left;
            position: relative;
            padding-left: 2rem;
            margin-bottom: 4.6rem;
            font-size: 1.4rem;

            span {
                word-break: break-word;
            }
        }

        .icon-location {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 1.6rem;
        }

        &__units {
            // position: relative;
            text-align: left;
            display: flex;
            align-items: center;
            position: absolute;
            bottom: 1.2rem;
            left: 0;
            width: 100%;
        }

        &__units [class^="icon-"], &__units .tippy-icon {
            font-size: 1.9rem;
            margin-right: 1rem;
            position: relative;

            &:after {
                position: absolute;
                bottom: -1.8rem;
                left: 50%;
                width: 1rem;
                height: 1rem;
                background: $bg-color-primary-white;
                border: .1rem solid $text-color-gray-5;
                border-bottom: none;
                border-left: none;
                transform: rotate(-45deg) translateX(-50%);
                z-index: 20;
            }

            p {
                width: max-content;
                padding: 1rem 2rem;
                color: $text-color-primary;
                position: absolute;
                opacity: 0;
                visibility: hidden;
                z-index: 0;
                box-shadow: 0 .2rem .4rem 0 rgba(35,46,72,.15);
                background-color: $bg-color-primary-white;
                border: .1rem solid $text-color-gray-5;
                border-radius: .3rem;
                font-size: 1.2rem;
                bottom: -5rem;
                left: 50%;
                transform: translateX(-50%);
            }

            &.icon-car {
                font-size: 1.7rem;
            }
        }

        &__status {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }

    
    .property-card__geo-info__status {
        display: inline-flex;
        height: 2.5rem;
        padding-right: 2.5rem;
        padding-top: .4rem;
        background-repeat: no-repeat;
        background-position: 100% .5rem;
        background-size: 2rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $text-color-gray-6;
        letter-spacing: 0.024rem;
        white-space: nowrap;
        &.is--coming-soon {
            background-image: url('../images/coming-soon.jpg');
        }
        &.is--available {
            background-image: url('../images/available.png');
        }
        &.is--unavailable {
            background-image: url('../images/unavailable.png');
        }
    }

    &__rooms {
        width: 39%;
        padding-left: 1.5rem;
        padding-bottom: 5.7rem;
        overflow-x: hidden;
        position: relative;

        &__list {
            // width: calc(100% + 1.7rem);
            width: 100%;
            height: 100%;
            // min-height: 16.4rem;
            max-height: 18.4rem;
            overflow-y: scroll;
            text-align: left;
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-start;
            // align-items: flex-start;
        }

        &__detail-link {
            padding: 1.1rem .8rem;
            position: absolute;
            bottom: 0;
            left: 1.5rem;
            width: calc(100% - 1.6rem);
            color: $text-color-secondary;
            background: $bg-color-primary;
            border: .1rem solid $bg-color-primary;
            border-radius: 3rem;
            text-align: center;
            cursor: pointer;
            line-height: 1.9rem;
            font-size: 1.2rem;
            font-weight: $fontweight-bold;
            transition: all .3s ease;
            &:hover {
                background: $text-color-blue-4;
                border-color: $text-color-blue-4;
                color: $text-color-secondary;
            }

            @include min-sm {
                font-size: 1.4rem;
            }
        }
    }

    a.property-card__rooms__list__detail {
        display: inline-flex;
        min-height: 4.4rem;
        flex-direction: column;
        border: .1rem solid $text-color-gray-7;
        border-radius: .3rem;
        transition: all 0.2s ease-in-out;
        align-items: center;
        line-height: 2.3rem;
        margin-bottom: .5rem;
        position: relative;
        text-align: center;
        width: 100%;
        padding: 0 .7rem;
        word-break: break-word;

        &:hover {
            background-color: $text-color-gray-7;
            strong,
            span {
                color: $bg-color-primary-white;
            }
        }
        
        strong {
            color: $text-color-blue-3;
            font-size: 1.6rem;
            transition: all 0.2s ease-in-out;
            margin-bottom: -.4rem;
            max-width: 100%;

            &.show__unavailable {
                padding: 0.9rem 0 1rem;
            }
        }

        span {
            color: $text-color-gray-8;
            font-size: 1.2rem;
            transition: all 0.2s ease-in-out;
        }

        p {
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }
}

.property-card-toolip {
    position: fixed;            
    padding: 1rem 2rem;
    color: $text-color-primary;
    background-color: $bg-color-primary-white;
    border: .1rem solid $text-color-gray-5;
    border-radius: .3rem;
    z-index: 9999;
    p {
        font-size: 1.2rem;
        line-height: 1.2rem;
    }
    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: -1rem;
        width: 1rem;
        height: 1rem;
        background: $bg-color-primary-white;
        transform: rotate(45deg) translateY(-50%);
        border-left: .1rem solid $text-color-gray-5;
        border-bottom: .1rem solid $text-color-gray-5;
    }
}

@keyframes fade-in {
    0% {
    	opacity: 0;
    }
    100% {
  		opacity: 1;
    }
}