.property-card
    .property-card__geo-info
        .property-card__geo-info__image
            span.for-shortlist-icon
            img.lazy(data-src="")
        h2.property-card__geo-info__location
            | Shibaura
        .property-card__geo-info__address
            span.icon-location
            span Minato-ku, Tokyo-to
        .property-card__geo-info__units
            .icon-elevator( data-tippy="Elevator", data-tippy-arrow="true", data-tippy-placement="bottom")
                p Elevator
            .icon-car( data-tippy="Card park", data-tippy-arrow="true", data-tippy-placement="bottom")
            .icon-handicap( data-tippy="Handicap service", data-tippy-arrow="true", data-tippy-placement="bottom")
            .icon-pet( data-tippy="Pet allowed", data-tippy-arrow="true", data-tippy-placement="bottom")
            .property-card__geo-info__status.is--coming-soon coming soon
    .property-card__rooms
        .property-card__rooms__list
            a.property-card__rooms__list__detail(href="#")
                strong 3LDK / 339.361m²
                span from 220000
                p.property-card__detail__tooltip Test Tooltip
            a.property-card__rooms__list__detail(href="#")
                strong.show__unavailable 3LDK / 339.361m²
                p.property-card__detail__tooltip Test Tooltip
            a.property-card__rooms__list__detail(href="#")
                strong 3LDK / 339.361m²
                span from 220000
                p.property-card__detail__tooltip Test Tooltip
            a.property-card__rooms__list__detail(href="#")
                strong 3LDK / 339.361m²
                span from 220000
                p.property-card__detail__tooltip Test Tooltip
            a.property-card__rooms__list__detail(href="#")
                strong 3LDK / 339.361m²
                span from 220000
                p.property-card__detail__tooltip Test Tooltip
        a.property-card__rooms__detail-link Property Details