.campaign-telephone.container-fluid
    .campaign-telephone__block-info
        span 住まい相談センター
        br
        span.campaign-telephone__block-info__number 
            span.hidden-xs 
                a.campaign-telephone__block-info__number__link(href="tel:0120-830-105") 0120-830-105
            span.visible-xs
                a(href="tel:0120-830-105") 0120-830-105
        br
        span.campaign-telephone__block-info__time 営業時間　9：00～21：00
        br
        span.campaign-telephone__block-info__time Customer Service is only offered in Japanese, Portuguese, and English
