.col-xs-12.col-sm-12
    .area-breadcrumb
        .area-breadcrumb__content
            span Area:&nbsp;
            span All Japan
            a.area-breadcrumb__content__link-area(href="javascript:void(0)" data-type="Prefecture" data-code="5") Aomori
            a.area-breadcrumb__content__link-area(href="javascript:void(0)" data-type="City" data-code="402273") Kama-shi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="404021") Kurate-machi
            a.area-breadcrumb__content__link-area.area-breadcrumb__content__link-area--sub-item(href="javascript:void(0)" data-type="City" data-code="405221") Ooki-machi