.area-breadcrumb {
    display: none;
    min-height: 4.3rem;
    background-color: color(c-white-blur);
    width: 100%;

    @include min-md {
        display: block;
    }

    &__content {
        margin: 0 auto;
        padding: 1rem 4.5rem;
        font-size: 10pt;
        color: color(c-dark-blue-navy-5);

        @include min-md {
            padding: 1rem 2rem;
        }
        &__link-area {
            color: color(c-blue-10);
            font-size: inherit;
            cursor: pointer;
            padding-left: .3rem;

            &:hover {
                color: color(c-dark-blue-navy-2);
            }

            &:before {
                content: "\00a0\003E\00a0";
            }

            &--sub-item {
                padding-left: 0;
                color: #9fb5c1;

                &:before {
                    content: ",\00a0";
                }
            }
        }
    }
}