section.detail.detail-campaign
    .container-fluid
        h2.detail__title キャンペーン詳細
        .detail__block
            h3 家賃から30,000円キャッシュバックについて
            p 賃料1ヶ月分（上限3万円まで）の金額を 初回の請求より差し引かせていただきます。
                br
                | 例 - 9/15より45,000円の部屋に入居して頂く場合
                br
                | 当月日割り家賃（9月分）	24,000円　翌月分前払い家賃（10月分）	45,000円　キャッシュバック	-30,000円
                br
                | 初期費用合計	39,000円　※別途保険料がかかる事があります
        .detail__block
            h3 ニトリ・キャンペーンについて
            p ビレッジハウスのお部屋にピッタリの力ーテン4枚セットとシーリングライトから必要なものだけ選べて、お部屋にお届けいたします。
            ul.detail__block__list--type1
                li
                    | カーテンは遮光2 級カーテン2 枚+ レースカーテン2 枚の計4 枚のお得なセットです！サイズA（丈140cm）1,843円→
                    span 1,750円
                    | 　サイズB（丈 178cm）　2,036 円→
                    span 1,930円
                    | （別途消費税）
                li
                    | LED リモコン付シーリングライト　3,695円→
                    span 3,510円
                    | （別途消費税）
                    a(href="https://dev.villagehouse.jp/campaign/_datasources/detail-campaign-datasources/detail-campaign-datasource/") 3,510 yen (consumption tax charged separately)
            p
                img.lazy.hidden-desktop(data-src="../../../assets/images/img.lazy_detail_sp.jpg", alt="Villague house")
                img.lazy.hidden-mobile(data-src="../../../assets/images/img.lazy_detail_pc.jpg")
            ul.detail__block__list--type2
                li
                    | 商品の代金は、キャッシュバック最大30,000 円から差し引かせていただきます
                li
                    | 商品は店頭価格から5% 値引きで提供致します（店頭セール時価格からの値引きは致しません）
                li
                    | 送料については、商品の合計が10,000 円未満は1,000 円、10,000 円以上は1,500 円となります
                li
                    | 当キャンペーンの申込書は、賃貸借契約申込書と一緒にお送りください
                li
                    | 審査終了後、契約事務センターから発注内容の最終確認をさせていただきます。その後、注文のキャンセル・返品はできません
                li
                    | 商品は入居日までにお部屋にお届けするか、入居日に手渡しいたします。当社では商品の設置はいたしませんので、予めご了承ください
                li
                    | 店頭の商品の入替りにより予告なく提供商品のデザイン等が入替る場合があります
                li
                    | 天候等の影響による配達の遅延については責任を負いません
                li
                    | 商品の合計額はキャッシュバックの額を上限とします
        .detail__block
            h3 引越しサポートクーポンについて
            p ビレッジハウスなら引越し代金もおトクに！
                br
                | ご契約いただいた方にもれなくハート引越センターのディスカウントクーポンをプレゼント！
                br
                | 単身者サイズで3,000 円オフ!!　ファミリーサイズで5,000 円オフ!!
            .entry
                h4 お申し込み方法
                .entry__block
                    .entry__block__step-number
                        span step 1
                    .entry__block__content
                        p ハート引越「スマート引越」サイトで、簡単見積もりシュミレーション！
                            br
                            a(href="#") http://smart-hikkoshi.jp/estimate/company/villagehouse
                            br
                            | またはフリーコールに電話して見積もり依頼！
                .entry__block
                    .entry__block__step-number
                        span step 2
                    .entry__block__content
                        p 賃貸借契約に同封のご契約金請求書をチェック！
                            br
                            | お客様のクーポンコードが下部に記載されています
                    .entry__block__image
                        img.lazy(data-src="../../../assets/images/img.lazy_entry_pc.png")
                .entry__block
                    .entry__block__step-number
                        span step 3
                    .entry__block__content
                        p ハート引越センターの
                            br
                            strong フリーコール 
                                span
                                    a(href="tel:0120810229") 0120-810-229
                                span  に電話して契約！
                            br
                            | 忘れずに、クーポンコードをお伝えください
        .detail__btn-wrapper
            a.detail__btn-wrapper__modal-btn(href="javascript:void(0)", data-micromodal-trigger="modalRequestForm") お問い合わせはこちら

