.property-detail__map
    input.property-detail__map__hidden-input__image(type="hidden", value="http://localhost:8080/assets/images/sliderbig1.jpg")
    input.property-detail__map__hidden-input__lat(type="hidden", value="35.395964")
    input.property-detail__map__hidden-input__lng(type="hidden", value="136.828293")
    input.property-detail__map__hidden-input__address(type="hidden", value="Kakamigahara-shi<br/> Gifu-ken")
    input.property-detail__map__hidden-input__unit-price(type="hidden", value="¥23,500 ~ ¥28,500")
    input.property-detail__map__hidden-input__property-url(type="hidden", value="http://test-01.villagehouse.cerebrum.com.au/en/chintai/koutou-ku/shiomi-1-29-22-tokyo-to/PLA-FTVH-1-3246-2LDK-0/")
    .property-detail__map__header
        p.property-detail__map__header__sub-title Kinzokudanchi 130 
        p.property-detail__map__header__sub-title
            span.icon-location
            | Kakamigahara-shi, Gifu-ken
    .property-detail__map__container
        input.property-detail__map__container__hidden-input(type="hidden", value="put the api here")
        .property-detail__map#unit_map