header.header-bank
    .container-fluid
        .row.between-xs
            .col-xs-12.col-md-12
                a.header__view-request(href="#")
                    img(src= ("../../../assets/images/logo-header-white.svg"), alt="Village House")
                       
                          