//- src/views/components/footer.pug

footer.footer#footer
    .footer__enquire-btn
        .container-fluid
            .row
                .col-xs-12.col-sm-12
                    a.footer__request-modal-btn.anchor-btn(href="javascript:void(0)", data-micromodal-trigger="modalRequestForm")
                        span.icon-email
                        | Enquire Now
    .locations(style="background-image: url('../../../assets/images/skyline-vector.png')")
        .container-fluid
            .logo
                a(href="/en/")
                    img.lazy(data-src= ("../../../assets/images/VH-Logo-white.svg"), alt="Village House")
            p Rents from 20,000 yen! Over 100,000 low-cost units in 1,000 locations in 46 prefectures throughout Japan!
            span.deposit-note Our banks available throughout Japan
    .top-footer
        .container-fluid
            .row
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Tokai
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Aichi
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Shizuoka
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Mie
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Gifu
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Kinki
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Osaka
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Kyoto
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Nara
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Wakayama
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Shiga
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Hyogo
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Chugoku
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Okayama
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Hiroshima
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Yamaguchi
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Shimane
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Tottori
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Shikoku
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Kagawa
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Tokushima
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Kochi
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Ehime
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Kyushu
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Fukuoka
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Saga
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Nagasaki
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Kumamoto
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Kagoshima
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Miyazaki
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Oita
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Okinawa
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Hokkaido
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Hokkaido
            .row.footer-bottom-row
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Tohoku
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Aomori
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Iwate
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Miyagi
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Akita
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Yamagata
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Fukushima
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Kanto
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Ibaraki
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Tochigi
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Gunma
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Saitama
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Chiba
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Tokyo
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Kanagawa
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Koshinetsu
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Nagano
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Yamanashi
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Niigata
                .col-md-2.col-sm-4.col-xs-12
                    h6
                        a(href="/en/chintai/tokai/?search_type=area&search_code=C0101") Hokuriku
                    ul.footer-links
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Toyama
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Ishikawa
                        li
                            a(href="/en/chintai/aichi/?search_type=prefecture&search_code=23") Fukui
                .col-md-2.col-sm-4.col-xs-12
                .col-md-2.col-sm-4.col-xs-12.no-padding-right
                    .contact-details
                        h6
                            span.icon.icon-phone
                            | Contact Us
                        .contact-info
                            span.icon.icon-phone
                            a.contact-info__callback(href="tel:123123123") 0120-830-105
                            span.time From 9:00 to 20:00 (Closed for New Years: Dec. 28, 2018 - Jan. 6, 2019)
                        span.contact-details__time-mobile From 9:00 to 20:00 (Closed for New Years: Dec. 28, 2018 - Jan. 6, 2019)
                        label Follow us on:
                        ul.social-links
                            li 
                                a(href="https://www.facebook.com/VillageHouseJP", target="_blank")
                                    i.icon.icon-facebook
    .bottom-footer
        .container-fluid
            ul
                li
                    a(href="/en/company-information/") Company Information
                li
                    a(href="/en/privacy-policy/") Privacy Policy
            .copyright Copyright © VILLAGE HOUSE. All Rights Reserved. | A Member of the Softbank Group

.modal.micromodal-slide.modal--form-primary.modal-phone__callback#modalCallBackForm(aria-hidden="true")
    .modal__overlay.modal-phone__callback__overlay(tabindex="-1", data-micromodal-close)
        .modal__container(role="dialog", aria-modal="true", aria-labelledby="modal-callback-form-title")
            .modal__header
                .icon-close.modal-phone__callback__overlay__btn-close(data-micromodal-close, aria-label="Close this dialog window")
            .modal__content#modal-callback-form-title
                .form--wrapper
                    form(method="post", name="scheduleCallBackForm", showvalid)
                        h3.form__title Schedule a call back.
                        .form__sub-title Customer Service is only offered in Japanese, Portuguese, and English
                        fieldset
                            .field--wrapper.form-group
                                input.form-control(type="text", name="name", placeholder="Name", required, minlength="1")
                            .field--wrapper.form-group
                                input.form-control(type="text", name="tel", placeholder="Telephone", required, minlength="1")
                            .field--wrapper
                                button.modal--btn-submit(type="submit", name="scheduleFormSubmit", aria-label="Submit call back form") Submit
                                
#fakePopupChatBot