.advertise-banner-desktop
    a(href="javascript:void(0);", data-micromodal-trigger="modalRequestForm")
        img.lazy.img-responsive(data-src="http://test-01.villagehouse.cerebrum.com.au/fileadmin/_processed_/8/c/csm_desktop-banner_7c96a37d20.png", alt="")
.advertise-banner-mobile
    a(href="javascript:void(0);", data-micromodal-trigger="modalRequestForm")
        img.lazy.img-responsive(data-src="http://test-01.villagehouse.cerebrum.com.au/fileadmin/user_upload/banners/mobile-banner.png", alt="")