.modal.micromodal-slide.modal--form-primary.modal-phone__callback#modalSubscribeForm(aria-hidden="true")
    .modal__overlay.modal__container--subscribe(tabindex="-1", data-micromodal-close)
        .modal__header
            .icon-close(data-micromodal-close, aria-label="Close this dialog window")
        .modal__container(role="dialog", aria-modal="true", aria-labelledby="modal-callback-form-title")
            .modal__content#modal-callback-form-title
                .form--wrapper
                    form(method="post", name="subscribeForm", showvalid)
                        h3.left Subscribe to our Newsletter and get an additional 5% off
                        fieldset
                            .field--wrapper.form-group
                                .row
                                    .col-xs-6.col-md-4.col-lg-4.no-padding-right.field--wrapper__name
                                        input.form-control(type="text", name="name", placeholder="Name", required, minlength="1")
                                    .col-xs-6.col-md-5.col-lg-5.no-padding-right.field--wrapper__email
                                        input.form-control(type="text", name="email", placeholder="Email", required, minlength="1")
                                    .col-xs-12.col-md-3.col-lg-3 
                                        button.modal--btn-subscribe(type="submit", name="subscribeModal", aria-label="Submit Subscribe form") Subscribe
                        .subscribe__note
                            p *By signing up, I agree to MYSTAYS's
                                span 
                                    a.subscribe__note__link(href="javascript:void(0)") Privacy Policy.