section.bank
    .container-fluid
        .bank-failed__title-block
            h1.bank-failed__title-block__failed Failed
            h1.bank-failed__title-block__message Error Message from Bank/APlus is here
        .bank__applicant-info
            p Name of Applicant: XXXXXXXXX
            p Application Number: XXXX-XXXXXX
        .bank__guide
            p ご利用の金融機関、またはビレッジハウスの担当者にご連絡ください
            p.bank__guide__app-number ビレッジハウス: XXX-XXX-XXXX
        .bank__action
            a.bank__action__close-screen(href="javascript:void()") この画面を閉じる
            a.bank__action__exit-deposit(href="javascript:void()") 預金口座振替・自動払込を出る