section.bank
    .container-fluid
        .bank-success__title-block
            h1.bank-success__title-block__success Success
            h1.bank-success__title-block__success ビレッジハウスへようこそ
            h1.bank-success__title-block__message 預金口座振替・自動払込の登録が完了しました。
        .bank__applicant-info
            p Name of Applicant: XXXXXXXXX
            p Application Number: XXXX-XXXXXX
        .bank__action
            a.bank__action__close-screen(href="javascript:void()") この画面を閉じる
            a.bank__action__exit-deposit(href="javascript:void()") 預金口座振替・自動払込を出る