section.company-information
    .container-fluid
        .company-information__detail
            h2 Company Information
            .company-information__detail__table
                table
                    tbody
                        tr
                            td 会社名*
                            td ビレッジハウス・マネジメント株式会社
                        tr
                            td 設立年月日
                            td 2016年12月21日
                        tr
                            td 主な事業内容
                            td 不動産賃貸業／低家賃マンションシリーズ「ビレッジハウス」の管理・運営
                        tr
                            td マネジメントチーム
                            td 共同経営責任者　岩元　龍彦 <br> 共同経営責任者　工藤　健亮 <br> 執行責任者　渡邉　洋平 <br> 財務責任者　オゼンバー　ブレント
                        tr
                            td 従業員数
                            td 正社員162名 - 派遣社員150名 (2018年11月8日現在)
                        tr
                            td 平均年齢
                            td 41歳（同上）
                p *弊社は、2018年6月1日をもって「レジデンシャル・サービス・ジャパン株式会社」から「ビレッジハウス・マネジメント株式会社」に社名を変更いたしました。 今後も倍旧のご愛顧を賜りますようお願い申し上げます。        
                
                        //- tr
                        //-     td Date of Foundation
                        //-     td December 21, 2016 
                        //- tr
                        //-     td Main Business Activities
                        //-     td Real Estate/Management and operation of low rent apartment leases (Village House)
                        //- tr
                        //-     td Representative Director
                        //-     td Meguro Masayuki
                        //- tr
                        //-     td Number of Employees
                        //-     td 162 Full Time Employees, 150 Temporary Staff, as for November 8, 2018)
                        //- tr
                        //-     td Average Age
                        //-     td 41 years old (as for April 24, 2018)
                // p *As of June 1, 2018, our company name was officially changed from "Residential Service Japan Co., Ltd" to "Village House Management Co., Ltd."
        .company-information__headquarter
            .company-information__header
                span.icon-home
                span 本 社
            .company-information__content
                .row
                    .col-xs-12.col-sm-6
                        .company-information__content__address
                            span.icon-location
                            span.text 〒105-000 東京都港区虎ノ門4-3-13　ヒューリック神谷町ビル４階  
                        .company-information__content__direction
                            span.icon-travel-walk
                            span.text ヒューリック神谷町ビル４階
                    .col-xs-12.col-sm-6
                        .company-information__content__gm-block
                            a.google-map-btn(href="javascript:void(0)" data-lat="38.71443" data-lng="138.844293" data-title="本 社" data-address="〒105-000 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル４階" data-gmUrl="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8816470566385!2d139.736656215339!3d35.655287480200435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ba243914e1b%3A0x84f2770ad2b9c2a8!2s1+Chome-1-15+Mita%2C+Minato-ku%2C+T%C5%8Dky%C5%8D-to+108-0073!5e0!3m2!1sen!2sjp!4v1525140783461")
                                | Google map
                                span.icon-arrow-right
        
        .company-information__branch
            .company-information__header
                span.icon-home
                span 北海道支社
            .company-information__content
                .row
                    .col-xs-12.col-sm-6
                        .company-information__branch-block
                            .company-information__branch-block__title 北海道支社
                            .company-information__branch-block__content
                                span.icon-location
                                span.text 〒980-600 宮城県仙台市青葉区中央4-6-1 SS30 8階 
                            .company-information__google-map__block
                                a.google-map-btn(href="javascript:void(0)" data-lat="33.288123" data-lng="134.828293" data-title="本 社" data-address="〒105-000 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル４階" data-gmUrl="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8816470566385!2d139.736656215339!3d35.655287480200435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ba243914e1b%3A0x84f2770ad2b9c2a8!2s1+Chome-1-15+Mita%2C+Minato-ku%2C+T%C5%8Dky%C5%8D-to+108-0073!5e0!3m2!1sen!2sjp!4v1525140783461")
                                    | Google map
                                    span.icon-arrow-right
                    .col-xs-12.col-sm-6
                        .company-information__branch-block
                            .company-information__branch-block__title 東京支社
                            .company-information__branch-block__content
                                span.icon-location
                                span.text 〒105-0001 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル4階 
                            .company-information__google-map__block
                                a.google-map-btn(href="javascript:void(0)" data-lat="34.213123" data-lng="135.828293" data-title="本 社" data-address="〒105-000 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル４階" data-gmurl="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8816470566385!2d139.736656215339!3d35.655287480200435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ba243914e1b%3A0x84f2770ad2b9c2a8!2s1+Chome-1-15+Mita%2C+Minato-ku%2C+T%C5%8Dky%C5%8D-to+108-0073!5e0!3m2!1sen!2sjp!4v1525140783461")
                                    | Google map
                                    span.icon-arrow-right
        
        .company-information__branch
            .company-information__header
                span.icon-home
                span 北海道支社
            .company-information__content
                .row
                    .col-xs-12.col-sm-6
                        .company-information__branch-block
                            .company-information__branch-block__title 北海道支社
                            .company-information__branch-block__content
                                span.icon-location
                                span.text 〒980-6008 宮城県仙台市青葉区中央4-6-1 SS30 8階 
                            .company-information__google-map__block
                                a.google-map-btn(href="javascript:void(0)" data-lat="36.213123" data-lng="137.828293" data-title="北海道支社" data-address="〒105-000 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル４階" data-gmurl="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8816470566385!2d139.736656215339!3d35.655287480200435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ba243914e1b%3A0x84f2770ad2b9c2a8!2s1+Chome-1-15+Mita%2C+Minato-ku%2C+T%C5%8Dky%C5%8D-to+108-0073!5e0!3m2!1sen!2sjp!4v1525140783461")
                                    | Google map
                                    span.icon-arrow-right
                    .col-xs-12.col-sm-6
                        .company-information__branch-block
                            .company-information__branch-block__title 東京支社
                            .company-information__branch-block__content
                                span.icon-location
                                span.text 〒105-0001 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル4階 
                            .company-information__google-map__block
                                a.google-map-btn(href="javascript:void(0)" data-lat="32.213123" data-lng="134.826693" data-title="東京支社" data-address="〒105-000 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル４階" data-gmurl="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8816470566385!2d139.736656215339!3d35.655287480200435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ba243914e1b%3A0x84f2770ad2b9c2a8!2s1+Chome-1-15+Mita%2C+Minato-ku%2C+T%C5%8Dky%C5%8D-to+108-0073!5e0!3m2!1sen!2sjp!4v1525140783461")
                                    | Google map
                                    span.icon-arrow-right
                .row
                    .col-xs-12.col-sm-6
                        .company-information__branch-block
                            .company-information__branch-block__title 北海道支社
                            .company-information__branch-block__content
                                span.icon-location
                                span.text 〒980-6008 宮城県仙台市青葉区中央4-6-1 SS30 8階 
                            .company-information__google-map__block
                                a.google-map-btn(href="javascript:void(0)" data-lat="33.2131333" data-lng="137.6293" data-title="北海道支社" data-address="〒105-000 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル４階" data-gmurl="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8816470566385!2d139.736656215339!3d35.655287480200435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ba243914e1b%3A0x84f2770ad2b9c2a8!2s1+Chome-1-15+Mita%2C+Minato-ku%2C+T%C5%8Dky%C5%8D-to+108-0073!5e0!3m2!1sen!2sjp!4v1525140783461")
                                    | Google map
                                    span.icon-arrow-right
                    .col-xs-12.col-sm-6
                        .company-information__branch-block
                            .company-information__branch-block__title 東京支社
                            .company-information__branch-block__content
                                span.icon-location
                                span.text 〒105-0001 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル4階 
                            .company-information__google-map__block
                                a.google-map-btn(href="javascript:void(0)" data-lat="32.213123" data-lng="136.828293" data-title="東京支社" data-address="〒105-000 東京都港区虎ノ門4-3-13 ヒューリック神谷町ビル４階" data-gmurl="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3241.8816470566385!2d139.736656215339!3d35.655287480200435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ba243914e1b%3A0x84f2770ad2b9c2a8!2s1+Chome-1-15+Mita%2C+Minato-ku%2C+T%C5%8Dky%C5%8D-to+108-0073!5e0!3m2!1sen!2sjp!4v1525140783461")
                                    | Google map
                                    span.icon-arrow-right
        
        .company-information__map
            .company-information__map__container#company_map
    input.company-information__map__hidden-input__lat-default(type="hidden", value="35.395964")
    input.company-information__map__hidden-input__lng-default(type="hidden", value="136.828293")