.map-component
    .map-component__switch-container
        .map-component__switch-container__btn.map-component__switch-container__btn--toggle-result.btn-hide-map 
            span Result
        .map-component__switch-container__btn.map-component__switch-container__btn--toggle-map.in-active.btn-show-map 
            span Map
    .map-component__map-container
        #map
        #whiteBar
        span.ic-arrow.ic-arrow-back.btn-show-map.in-active
        span.ic-arrow.ic-arrow-next.btn-hide-map
.switch-container-mobile
    .switch-container-mobile__btn.switch-container-mobile__btn--toggle-result.btn-hide-map 
        span Result
    .switch-container-mobile__btn.switch-container-mobile__btn--toggle-map.in-active.btn-show-map 
        span Map